In [26]:
new_list = list(range(1, 11))
print(new_list)
for item in new_list.copy():
    new_list.remove(item) if not item % 2 else 1
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [18]:
words = ["apple", "banana", "cherry", "date", "fig", "grape"]
new_words = words[:3]
print(new_words)

['apple', 'banana', 'cherry']

In [22]:
numbers = [5, 3, 8, 6, 2, 9, 1]
numbers.sort(reverse=True)
print(numbers)

[9, 8, 6, 5, 3, 2, 1]

In [23]:
names = ["Alice", "Bob", "Charlie", "David"]
names[names.index("Charlie")] = "Eve"
print(names)

['Alice', 'Bob', 'Eve', 'David']

In [20]:
cort = tuple(range(1, 6))
print(cort)
new_cort = tuple(list(cort) + [6])
print(new_cort)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

In [22]:
fruits = ("apple", "banana", "cherry", "date")
new_fruits = fruits[:2]
print(new_fruits)

('apple', 'banana')

In [23]:
info = ("John", "Doe", 30, "New York")
name = info[0]
surname = info[1]
print(name, surname)

John Doe

In [29]:
data = (10, 20, 30, 40, 50)
a, b, *others = data
print(a, b, others)

10 20 [30, 40, 50]

In [36]:
original_set = {1, 2, 3, 4, 5}
print(original_set)
original_set.add(6)
print(original_set)
original_set.discard(3)
print(original_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [38]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
print(set_a & set_b)

{3, 4}

In [39]:
set_a = {10, 20, 30}
set_b = {20, 40, 50}
print(set_a - set_b)

{10, 30}

In [40]:
numbers = {5, 10, 15, 20}
print(numbers)
numbers.clear()
print(numbers)

{10, 20, 5, 15}
set()

In [44]:
dct = {"Alice": 25, "Bob": 30, "Charlie": 35}
dct["David"] = 40
print(dct)

{'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40}

In [45]:
person = {"name": "Alice", "age": 25, "city": "New York"}
person['age'] = 26
person.pop('city')
print(person)

{'name': 'Alice', 'age': 26}

In [48]:
grades = {"Math": 90, "Science": 85, "English": 88}
print(list(grades.keys()))

['Math', 'Science', 'English']

In [51]:
contacts = {"John": "123-4567", "Jane": "987-6543"}
print(contacts.get("Jane"), "; ", contacts.get("Jake", "Not found"))

987-6543 ;  Not found

In [16]:
from timeit import timeit

for count in [10, 100, 1000, 10000, 100000]:
    setup_str = f"""from random import randint; n = {count}; numbers_set = set(range(n));numbers_list = list(range(n))"""
    stmt_set = "randint(0, n-1) in numbers_set"
    stmt_list = "randint(0, n-1) in numbers_list"
    t_set = timeit(stmt_set, setup=setup_str, number=10000)
    t_list = timeit(stmt_list, setup=setup_str, number=10000)
    print(f"{count: >6}: {t_set:e} vs. {t_list:e}")

    10: 7.887100e-03 vs. 6.241200e-03
   100: 5.885200e-03 vs. 1.033040e-02
  1000: 4.189900e-03 vs. 4.497010e-02
 10000: 6.265800e-03 vs. 3.599883e-01
100000: 6.142800e-03 vs. 3.396768e+00

In [12]:
for i in range(10):
    print(' ' * (10 - i), end='')
    print('*' * i * 2)

         **
        ****
       ******
      ********
     **********
    ************
   **************
  ****************
 ******************

In [9]:
print('ab', end='')
print('cd')

abcd

In [32]:
k = 1
for i in range(1, 10):
    k = k * 10
    print(f'{k:d <10},{k:d >10}')

ValueError: Invalid format specifier 'd <10' for object of type 'int'

In [11]:
s1 = [1, 2, 3, 4, 5, 6]
s2 = ['a', 'b', 'c', 'd', 'e', 'f']
s3 = ['b', 'c', 'd', 'f']

print(list(zip(s1, s2,s3)))

[(1, 'a', 'b'), (2, 'b', 'c'), (3, 'c', 'd'), (4, 'd', 'f')]